{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Delete Adopted Puppies</h1>
    <p>Thank you for providing loving homes to our adorable puppies! If you have recently adopted a furry friend, please enter your owner details along with the Puppy ID below to inform us. This helps us keep our records updated and ensures that our website always features puppies still waiting for their forever homes.</p>

    <form method="POST">
        {{form.hidden_tag()}}
        <div class="mb-3">
            {{form.puppy_id.label()}} {{form.puppy_id()}}
            {{form.submit()}}
        </div>
    </form>
</div>


{% endblock content %}